<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Your own custom styles (optional) -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <title>Regex</title>
</head>
<body>
  <form action="/submit" method="POST">
    
    <div class="form-group">
        <h1>Regexish</h1>
        <p>An AI-powered tool to create those pesky patterns for regular expressions, with an optional explanation. </p>
        <label>What do you need your regex to do?</label><br>

            <textarea type="text" class="form-control" name="regexrequest"  rows="3" required placeholder="Please describe what you would like your regular expression to do in as much detail as possible."></textarea>

            <label class="form-check-label form-text text-muted" for="includeExplanation">
            <input class="form-check-input" type="checkbox" name="includeExplanation" id="includeExplanation">

              <small>Include explanation of the regular expression</small>
            </label>
        <br><br>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
  </form>
</body>
</html>
